[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
diffusers = "*"
datasets = "*"
evaluate = "*"
accelerate = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
